.advanced-carousel {
  &__advanced-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__arrow {
    transition: transform 0.2s;
    flex-shrink: 0;

    &--open {
      transform: rotate(90deg);
    }
  }
}
