.advanced-carousel {
  &__advanced-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    &:hover {
      opacity: 0.8;
    }
  }

  &__arrow {
    font-size: 18px;
    transition: transform 0.2s;
    display: inline-block;
    transform: rotate(0deg);

    &--open {
      transform: rotate(90deg);
    }
  }
}
