.general-settings {
    display: contents;

    &__title {
        padding: 13px 0 10px 6px;
        border-bottom: 1px solid $cBlack;
        border-top: 1px solid $cBlack;
        margin-top: 35px;
    }

    &__content {
        padding: 0 16px 30px 6px;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}

body {
    overflow: hidden;
}

.multiline {
    white-space: pre-wrap;
}

.code {
    background-color: $cDark;
    color: $cLightOrange;
    padding: 2.18vw 1.09vw;
}

.highlight {
    color: $cOrange;
}

.btn-primary {
    border: 1px solid rgba($cBlack, .3);
    border-radius: 0.2rem;
    padding: 0.5rem;

    &:active {
        background-color: rgba($cBlack, .3);
    }
}

.link {
    color: $cOrange;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.help-link {
    color: $cDark;
    cursor: pointer;
    height: 16px;
    margin-bottom: 6px;
    margin-left: 3px;
    display: flex;

    &:hover {
        color: $cOrange;
    }
}