.input {
    &__inputField {
        width: 100%;
        font-size: 24px;    
        padding: 6px 16px 4px;
    }

    &__titleWrapper {
        display: flex;
        align-items: center;
    }
}

