.settings-title {
    font-family: "Baloo Da 2";
    font-weight: 600;
    font-size: 36px;
    padding: 13px 0 0 6px;
    border-bottom: 1px solid $cBlack;
    border-top: 1px solid $cBlack;
    margin-top: 35px;  
}

.input-title {
    font-weight: 500;
    font-size: 36px;
}